<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-music">  <span class=" fa-angle-down"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="goToActivityPage()" href="#">Activity Switch</a></li>
            <li><a ng-click="goToMobilePage()" href="#">Mobile App</a></li>
            <li><a ng-click="goToAboutPage()" href="#">About</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="goToDeveloperPage()" href="#">Developers API</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="goToHelpPage()" href="#">Help</a></li>
          </ul>
        </li>
      </ul>
      <form id="search-form" ng-submit="search(searchText)" class="navbar-form navbar-left" role="search">
        <div class="form-group search-wrapper">
          <input type="text" ng-model="searchText" class="form-control search-form search-custom" placeholder="Search">
          <button type="submit" class="btn btn-default search-btn"><span class="fa fa-search"></button>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <img class="img-circle" src=" <%= user.profileImage %> " width="19">  <span class="fa fa-angle-down">
          </span></a>
          <ul class="dropdown-menu">
            <li ng-click="init('<%= JSON.stringify(user.userId) %>')"><a href="#"><span class="fa fa-user"></span> Profile</a>
            </li>
            <li><a class="inline" href="#settings"><span class="fa fa-wrench"></span> Settings</a></li>
            <li><a class="inline" href="#BPwizard"><span class="fa fa-music"></span> Music Preferences</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout"><span class="fa fa-lock"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
      <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link" ng-click="init('<%= JSON.stringify(user.userId) %>')"> <%= user.firstName %> <%= user.lastName %></a></p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>