<!doctype html>
<html>
<head>
    <title>Music Profile</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <link href="css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
    <%- include head %>
</head>
<body>
<%- include header %>
<div class="container">

    <div class="col-sm-12">
        <div class="well">


    <!-- BEGIN FORM -->
    <form action="/processProducerWizardForm" method="post" id="ProducerWizardForm">
    
    <!-- pass hidden values : id and type of user -->
    <input type="hidden" name="userID" value="<%= user.userId %>">

    <% if (user.typeOfUser == "Consumer") { %>
       <input type="hidden" name="UserType" value="Consumer">
    <% } %>
    <% if (user.typeOfUser == "Producer") { %>
       <input type="hidden" name="UserType" value="Producer">
    <% } %>


<!-- ADDITIONAL MISSING INFORMATION -->
<div class="col-sm-6"  style="padding: 10px;">
        <h3>Your Songs</h3>
         Band/Artist Name:<br>
        <input type="text" class="producerForm" name="artistName" required>
        <br><br>


        <p>In order to get your music out there, you need to upload your songs to youtube. This is a list of all your youtube channel uploads. Please choose the videos you would like to subscribe to the Music Profile system.  </p>
        
        Choose Videos : <br>
         <select multiple="multiple" id="my-select" name="list[]" required>
        <% for(var i=0; i < list.length; i++) { %>
        <option value="<%= list[i].videoId %>|<%= list[i].title %>" ><%= list[i].title %> </option>
        <% } %>
        </select>
        <br>
</div>

<!-- ARTIST PIE -->
<div class="col-sm-6" style="padding: 10px;">
           <h3>Your Style</h3>
           <p>Please choose 5 genre tags that most describe your music. Rate each genre influence between 1-5 and we will calculate your unique Artist Pie</p>
         <label for="genre1">Genre 1</label><br>
        <select id="genre1" name="genre1" class="js-example-basic-single" required>
        <option value="null"> Select Genre...</option>
        <% for(var i=0; i < genres.length; i++) { %>
           <option value="<%= genres[i].name %>|<%= genres[i].category %>"> <%= genres[i].name %></option>
        <% } %>
        </select>
                  <input id="slider1" name="slider1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>
        <br><br>
        <label for="genre2">Genre 2</label><br>
        <select id="genre2" name="genre2" class="js-example-basic-single" required>
        <option value="null"> Select Genre...</option>
        <% for(var i=0; i < genres.length; i++) { %>
           <option value="<%= genres[i].name %>|<%= genres[i].category %>"> <%= genres[i].name %></option>
        <% } %>
        </select>
                  <input id="slider2" name="slider2" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>
          <br><br>
         <label for="genre3">Genre 3</label><br>
        <select id="genre3" name="genre3" class="js-example-basic-single" required>
        <option value="null"> Select Genre...</option>
        <% for(var i=0; i < genres.length; i++) { %>
           <option value="<%= genres[i].name %>|<%= genres[i].category %>"> <%= genres[i].name %></option>
        <% } %>
        </select>
                  <input id="slider3" name="slider3" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>
          <br><br>
         <label for="genre4">Genre 4</label><br>
        <select id="genre4" name="genre4" class="js-example-basic-single" required>
        <option value="null"> Select Genre...</option>
        <% for(var i=0; i < genres.length; i++) { %>
           <option value="<%= genres[i].name %>|<%= genres[i].category %>"> <%= genres[i].name %></option>
        <% } %>
        </select>
                  <input id="slider4" name="slider4" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>
          <br><br>
         <label for="genre5">Genre 5</label><br>
        <select id="genre5" name="genre5" class="js-example-basic-single" required>
        <option value="null"> Select Genre...</option>
        <% for(var i=0; i < genres.length; i++) { %>
           <option value="<%= genres[i].name %>|<%= genres[i].category %>"> <%= genres[i].name %></option>
        <% } %>
        </select>
                <input id="slider5" name="slider5" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>

        


</div>
    
    </form>
    <button type="submit" form="ProducerWizardForm" class="btn btn-submit btn-submit-big" value="Submit";">Submit</button>


        </div>
    </div>
    <!-- END FORM -->
</div>
<%- include jsFiles %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
 <script src="js/jquery.multi-select.js" type="text/javascript"></script>


<script src="js/producerWizard.js"></script>
          <!-- dropdown with autocomplete init -->
        <script type="text/javascript">
        $(document).ready(function() {
          $(".js-example-basic-single").select2();
          $('#my-select').multiSelect()
        });

         $(".auto-search-response").css("display", "none");
        </script>
</body>
</html>