<!doctype html>
<html>
<head>
    <title>Music Profile</title>
    <%- include head %>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-12 text-center">
        <div class="well">
            <h1>Producer Wizard</h1>
        </div>
    </div>

    <!-- BEGIN FORM -->
    <form action="/processWizardForm" method="post" id="wizard">
    
    <input type="hidden" name="userID" value="<%= user.userId %>">
    <% if (user.typeOfUser == "Consumer") { %>
       <input type="hidden" name="UserType" value="Consumer">
    <% } %>
    <% if (user.typeOfUser == "Producer") { %>
       <input type="hidden" name="UserType" value="Producer">
    <% } %>


<!-- ADDITIONAL MISSING INFORMATION -->
<div class="col-sm-6">
        <div class="well">
        <h3>Additional Information</h3>
         Band/Artist Name:<br>
        <input type="text" name="artistName">
        <br><br>


        <p>In order to get your music out there, you need to upload your songs to a youtube playlist. We will keep track of that playlist, so you will not have to update and upload your songs again. </p>
        Choose Playlist : <br>
        <% for(var i=0; i < list.length; i++) { %>
        <div class="checkbox">
          <label><input type="radio" name="i" value="<%= list[i].title %>" >  <%= list[i].title %> (id: <%= list[i].id %>)</label>
        </div>
        <% } %>
        <br>
        user id : <%= user.userId %><br>
        google token: <%= user.YT_AT%><br>


        <% if (user.ageGroup == null) { %>
        <strong>Age Group: </strong>
        <select name="ageGroup">
            <option value="1" selected="selected">Under 14</option>
            <option value="2">15-24</option>
            <option value="3">25-34</option>
            <option value="4">35-44</option>
            <option value="5">45-54</option>
            <option value="6">55+</option>
        </select>
    <% } %>
    </div>
</div>

<!-- ARTIST PIE -->
<div class="col-sm-6">
        <div class="well">
        <% for(var i=0; i < genres.length; i++) { %>
          <p>  <%= genres[i].name %> </p>
        <% } %>
          <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>

        </div>
</div>
    
    </form>
    <button type="submit" form="wizard" value="Submit">Submit</button>
    <!-- END FORM -->
</div>
<%- include jsFiles %>
<script src="js/producerWizard.js"></script>
</body>
</html>