<!doctype html>
<html ng-app="profile">
<head>

    <title>Music Profile</title>  

     <%- include head %>
     
     <script src="js/pie.js"></script>
     <script src="js/ageGroup.js"></script>
     <script src="js/localVSworld.js"></script>

</head>
<body>
<div class="nanobar" style="background-color:#222"></div>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<div ng-controller="profileCtrl" ng-cloak>
<div ng-init="init('<%= JSON.stringify(user.userId) %>')"></div>
<%- include header %>
<div class="container">
    <!-- LEFT SIDE BAR -->
    <!-- <div class="row"> -->
         <div class="col-sm-2">
            <div class="well leftSidebar">
                <div class="player-container">
                    <!-- the video -->
                    <div ng-hide="videoFrame2" class="loader {{loaderStatus}}"></div>
                    <iframe ng-show="videoFrame" id="player" type="text/html" width="100%" height="200" 
                    src="http://www.youtube.com/embed/S1o41_oHSAg?enablejsapi=1"
                    frameborder="0"/></iframe>

                    <!-- current song  -->
                    <p class="songName"> {{nowPlaying.songName}}</p>
                    <p class="artistName">{{nowPlaying.artistName}} </p>
                    <!-- player controllers -->
                    <div style="text-align: center;" ng-show="videoFrame">{{videoDuration}}</div>
                    <div class="playerControllers">
                        <span class="cursor fa fa-fast-forward font-size" ng-click="nextSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-pause font-size" ng-show="toggle" ng-click="pauseSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-play font-size" ng-hide="toggle" ng-click="playSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa {{heart}} red font-size" ng-click="addToFav()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-frown-o yellow font-size" ng-click="addToBlacklist()"></span>
                        <div class="msgBlock {{elementToFadeInAndOut}}">{{msg}}</div>
                    </div>
                </div>

              <!-- the playlist -->
               <div class="playlist-container">
                    <!-- <h3><span class="fa fa-play-circle font-size" ng-click="clickMe()"></span> Playlist</h3> -->

                    <p id="currGenre" ng-model="mod.currGenre" ng-click="bringMePlaylist($event)" customDir>{{mod.currGenre}}</p> <div class="abs loader {{loaderStatus2}}"></div>
                    <div ng-repeat="x in track track by $index" class="playlistItem playlistItem{{$index}}" ng-class="{'first-item': $first}" ng-if="$index < 6">                        
                        <div class="element{{$index}}">
                            <div class="location"><strong>{{x.songName}}</strong></div>
                            <div class="name">{{x.artistName}}</div>
                            <!-- <div class="location"><a href="{{x.url}}" target="_blank" ng-model="myUrl">{{x.url}}</a></div> -->
                            <hr>
                        </div>
                    </div>   
                </div>  
                <!-- end playlist -->

          </div>
      </div>
      <!-- END LEFT SIDE BAR -->

        <!-- CONTENT -->
        <div class="col-sm-7">
            <div class="content">

                <% if (business) { 
                    business.genres.sort(function(a, b){
                        if(a.category < b.category) return -1;
                        if(a.category > b.category) return 1;
                        return 0;
                    });
                %>
                 <!-- <div class=""> -->
                 
                 <!-- tabs -->
                  <ul role="tablist" id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#profile" id="profile-tab">Profile</a></li>
                    <li><a data-toggle="tab" href="#favorites" id="favorites-tab">Favorites</a></li>
                    <li><a data-toggle="tab" href="#following" id="following-tab">Following</a></li>
                    <li><a data-toggle="tab" href="#followers" id="followers-tab">Followers</a></li>
                    <li ng-if="user.typeOfUser == 'Producer'" ><a data-toggle="tab" href="#statistics" id="statistics-tab">Statistics</a></li>
                    <li ng-if="user.typeOfUser == 'Producer'" ><a data-toggle="tab" href="#mySongs" id="mySongs-tab">My Songs</a></li>
                    <li><a data-toggle="tab" href="#search" id="search-tab">Search</a></li>
                  </ul>

                  <!-- BEGIN TEB CONTENT -->
                  <div id="myTabContent" class="tab-content">

                      <!-- PROFILE TAB -->
                      <div id="profile" class="tab-pane fade in active">
                          <div class="mode-container">
                              <button ng-click="changePie('business')" type = "button" id="business" class = " btn-default mode-btn btn-lg">BUSINESS</button>
                              <button ng-click="changePie('artist')"  ng-if="user.typeOfUser == 'Producer'" type = "button" id="artist" class = " btn-default mode-btn btn-lg">ARTIST</button>
                              <button ng-click="changePie('pleasure')" type = "button" id="pleasure" class = " btn-default mode-btn btn-lg active">PLEASURE</button>
                          </div>
                              <!-- MP pie container -->
                            <div id="MPcontainer" style=" height: 450px; margin: 0 auto">

                            </div>
                      </div>
                  <!-- END PROFILE TAB -->


                    <!-- FAVORITES -->
                    <div id="favorites" class="tab-pane fade">
                      <h3>Favorites</h3>
                        <table class="table table-inverse table-hover">
                            <tbody>
                                <tr class="songItem songItem{{$index}}" ng-repeat="x in favorits track by $index" ng-click="playFavorites($index)">
                                    <td class="col-md-3"> {{x.artistName}}</td>
                                    <td class="col-md-6 song">{{x.songName}}</td>
                                    <td class="col-md-3 duration">{{x.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END FAVORITES -->



                    <!-- FOLLOWING -->
                    <div id="following" class="tab-pane fade">
                      <h3>Following</h3>
                       <div class="following-container"> 
                            <div class="following searchresults" ng-repeat="x in user.following">
                               <img ng-click="init(x.userId)" width="130" height="130" class="simg" border-radius: 100 ng-src="{{x.profileImg}}" /> 
                               <p>{{x.first}} {{x.last}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- END FOLLOWING -->



                    <!-- FOLLOWERS -->
                    <div id="followers" class="tab-pane fade">
                      <h3>Followers</h3>
                      <div class="followers-container"> 
                            <div class="followers searchresults" ng-repeat="x in user.followers">
                               <img ng-click="init(x.userId)" width="130" height="130" class="simg" border-radius: 100 ng-src="{{x.profileImg}}" /> 
                               <p>{{x.first}} {{x.last}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- END FOLLOWERS -->





                      <!-- IF PRODUCER : -->
                            

                      <!-- STATISTICS -->
                    <div id="statistics" class="tab-pane fade" ng-if="user.typeOfUser == 'Producer'" >
                        <h3>statistics</h3>
                       <div class="styled-select"><select ng-model="selectedSong" ng-options="selectedSong as selectedSong.title for selectedSong in songs track by songs" ng-change="drawDiagram(selectedSong.songId)">
                          <option ng-repeat="song in songs">{{song.title}}</option>
                       </select></div>
                        <div>name: {{songs[selectedSong].title}}</div>

                          <!-- AGcontainer-->
                          <div id="AGcontainer" style=" height: 300px; width:400px; margin: 0 auto">

                          </div>
                          <div id="YTContainer" style=" height: 300px; width:400px; margin: 0 auto">

                          </div>
                          <div id="pieContainer" style=" height: 300px; width:400px; margin: 0 auto">

                          </div>
                          
                    </div>
                    <!-- END STATISTICS -->



                      <!-- MY SONGS -->
                     <div id="mySongs" class="tab-pane fade" ng-if="user.typeOfUser == 'Producer'" >
                          <h3>My Songs</h3>
                           <table class="table table-inverse table-hover">
                                <tbody>
                                       <tr ng-repeat="song in songs track by $index" ng-click="playMySongs($index)">
                                          <td class="col-md-12">{{song.title}}</td>
                                      </tr>
                                </tbody>
                          </table>
                    </div>
                    <!-- END MY SONGS -->

                    <!-- END IF PRODUCER -->




                    <!-- SEARCH RESULTS -->
                    <div id="search" class="tab-pane fade">
                          <h3>Search Results</h3>
                          <div class="search-results-container"> 
                            <div class="searchresults" ng-repeat="x in searchResults">
                               <img ng-click="init(x.userID)" width="130" height="130" class="simg focus" border-radius: 100 ng-src="{{x.profileImage}}" /> 
                               <p>{{x.firstName}} {{x.lastName}}</p>
                               <!-- <p>{{x.type}}</p> -->
                            </div>
                          </div>
                    </div>
                    <!--END SEARCH RESULTS -->

                     <!-- STATIC PAGE -->
                    <div id="about" class="tab-pane fade">
                          <h3>About</h3>
                          <div class="about-container"> 
                             
                          </div>
                    </div>
                    <!--END STATIC PAGE -->

                     <!-- STATIC PAGE -->
                    <div id="activity" class="tab-pane fade">
                          <h3>Activity Switch</h3>
                          <div class="activity-container"> 
                             
                          </div>
                    </div>
                    <!--END STATIC PAGE -->

                    <!-- STATIC PAGE -->
                    <div id="help" class="tab-pane fade">
                          <h3>Help</h3>
                          <div class="help-container"> 
                             
                          </div>
                    </div>
                    <!--END STATIC PAGE -->

                    <!-- STATIC PAGE -->
                    <div id="developer" class="tab-pane fade">
                          <h3>Developer API</h3>
                          <div class="developer-container"> 
                             
                          </div>
                    </div>
                    <!--END STATIC PAGE -->

                    <!-- STATIC PAGE -->
                    <div id="mobile" class="tab-pane fade">
                          <h3>Android App</h3>
                          <div class="mobile-container"> 
                             
                          </div>
                    </div>
                    <!--END STATIC PAGE -->


                </div>
                <!-- END TAB CONTENT -->
            </div>
          </div>
          <!-- END CONTENT -->



          <!-- RIGHT SIDEBAR -->
           <div class="col-sm-3">
                <div class="well rightSidebar">
                    <!-- USER DETAILS -->
                    <h4 style="display: inline-block;">
                    <img ng-if="user.typeOfUser == 'Producer'" src="images/producer-white.png" width="20" class="side-icon">
                    <img ng-if="user.typeOfUser == 'Consumer'" src="images/consumer-white.png" width="20" class="side-icon">


                    {{user.firstName}} {{user.lastName}} </h4><p style="display: inline-block;">&nbsp({{user.typeOfUser}})</p>


                            <!--if local login -->
<!--                             <% if (user.profileImage) { %>
                                <img src=" <%= user.profileImage %> " width="60"><br><br>
                            <% } %> -->
                            <div class="details">
                                
                                <!-- <strong>Activity Token</strong>: {{user.activityToken}}<br> -->
                                  <div ng-if="myID == user.userId">
                                <strong><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp Email</strong>
                                <p> {{user.email}}</p>
                                </div>

                                <strong><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp  Country</strong> 
                                <p> {{user.country}}</p>

                                <strong><i class="fa fa-users" aria-hidden="true"></i>&nbsp Age Group</strong>
                                <p ng-if="user.ageGroup == 1">
                                    Under 14
                                </p>
                                <p ng-if="user.ageGroup == 2">
                                    15-25
                                </p>
                                <p ng-if="user.ageGroup == 3">
                                    24-35
                                </p>
                                <p ng-if="user.ageGroup == 4">
                                    35-44
                                </p>
                                <p ng-if="user.ageGroup == 5">
                                    44-55
                                </p>
                                <p ng-if="user.ageGroup == 6">
                                    55+
                                </p>
                            
                    <!-- END USER DETAILS -->

                  <!-- FOLLOW  -->
                  <div ng-if="myID != user.userId">
                      <a ng-click="follow(myID,user.userId)" class="btn btn-follow">{{isFollowing}}</a>
                  </div>
                  
                  <!-- END FOLLOW  -->


                   <!-- GOOGLE INFORMATION -->
                 <div  ng-if="myID == user.userId && (!user.YT_AT) ">
                        <strong><span class="fa fa-google-plus"></span>&nbsp &nbsp Google+</strong>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->

                   <!--          <p>
                                <strong>id</strong>: <%= user.YT_id %><br>
                                <strong>token</strong>: <%= user.YT_AT %><br>
                                <strong>email</strong>: <%= user.YT_email %><br>

                            </p> -->

                            <!-- <a href="/unlink/google" class="btn btn-google">Unlink</a> -->

                            <a href="/connect/google" class="btn btn-google">Connect Google</a>

                </div>
                 <!-- END GOOGLE INFORMATION -->

                 <!-- FACEBOOK INFORMATION -->
                <div  ng-if="myID == user.userId && (!user.FB_AT)">
                        <strong><span class="fa fa-facebook"></span>&nbsp &nbsp Facebook</strong>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->

           <!--                  <p>
                                <strong>id</strong>: <%= user.FB_id %><br>
                                <strong>token</strong>: <%= user.FB_AT %><br>
                                <strong>email</strong>: <%= user.FB_email %><br>
                            </p> -->

                            <!-- <a href="/unlink/facebook" class="btn btn-facebook">Unlink</a> -->

                            <p><a href="/connect/facebook" class="btn btn-facebook">Connect Facebook</a></p>

                </div>
                <!--END FACEBOOK INFORMATION -->

              </div>
              <!-- END DETAILS -->
              <hr>
                <!-- RECOMMANDED --> 
                   
                   <div id="recommended">
                   
                      <h4>Recommended</h4>
                      <p>Check out your recent matches with great Producers</p>
                       <div class="recommand-result">
                             <img   class="simg" width="50" height="50" border-radius: 100 ng-src="{{user.profileImage}}" /> 
                             <div class="recommand-text">
                                <p style="color: rgba(255,255, 255,0.5)">Example Result</p>
                                <p ng-click="init(x.userId)" style="color: white; cursor:pointer;">Check my pie &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i> </p>

                             </div>
                          </div>

                      <div ng-repeat="x in reco">
                          <div class="recommand-result slideUp">
                             <img  ng-click="init(x.userId)" class="simg" width="50" height="50" border-radius: 100 ng-src="{{x.profileImage}}" /> 
                             <div class="recommand-text">
                                <p style="color: rgba(255,255, 255,0.5)">{{x.firstName}}  {{x.lastName}}</p>
                                <p ng-click="init(x.userId)" style="color: white; cursor:pointer;">Check my pie &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i> </p>

                             </div>
                          </div>
                      </div>

                      
                    </div>

                    <div style="clear:both"></div>
                    <strong>ID</strong>: {{user.userId}} <br>
                <!-- END RECOMMANDED --> 


                </div>
          </div>
          <!-- END RIGHT SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    





<!-- MUSIC PREFERENCES LIGHTBOX -->
<div style="display:none">
<div id="BPwizard" style="width:60vw">
    <div class="col-sm-12 text-center">
        <!-- <div class="well"> -->
            <h2>Music Preferences</h2>
            <p>Change your business and pleasure pies by choosing categories</p>
        <!-- </div> -->
    </div>

    <!-- BEGIN FORM -->
    <form action="/updatePreferences" method="post" id="updatePreferencesForm">
    <div class="col-sm-6">
        <div class="well">
            <h4>Business</h4>
            <hr />
                <div class="checkbox">
                  <label><input type="checkbox" name="b_rock" value="Rock" ng-checked="businessPreferences.indexOf('Rock') != -1">Rock</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_pop"  value="Pop" ng-checked="businessPreferences.indexOf('Pop') != -1">Pop</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_rnb"  value="R&amp;B" ng-checked="businessPreferences.indexOf('R&B') != -1">R&amp;B</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_classical"  value="Classical" ng-checked="businessPreferences.indexOf('Classical') != -1">Classical</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_country"  value="Country" ng-checked="businessPreferences.indexOf('Country') != -1">Country</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_elctronic"  value="Electronic" ng-checked="businessPreferences.indexOf('Electronic') != -1">Electronic</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_latin"  value="Latin" ng-checked="businessPreferences.indexOf('Latin') != -1">Latin</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_blues" value="Blues" ng-checked="businessPreferences.indexOf('Blues') != -1">Blues</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_world"  value="World" ng-checked="businessPreferences.indexOf('World') != -1">World</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_punk"  value="Punk" ng-checked="businessPreferences.indexOf('Punk') != -1">Punk</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_metal"  value="Metal" ng-checked="businessPreferences.indexOf('Metal') != -1">Metal</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_jazz"  value="Jazz" ng-checked="businessPreferences.indexOf('Jazz') != -1">Jazz</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_folk"  value="Folk" ng-checked="businessPreferences.indexOf('Folk') != -1">Folk</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_reggae"  value="Reggae" ng-checked="businessPreferences.indexOf('Reggae') != -1">Reggae</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="b_hiphop"  value="Hip Hop" ng-checked="businessPreferences.indexOf('Hip Hop') != -1">Hip Hop</label>
                </div>
        </div>
    </div>

        <div class="col-sm-6">
        <div class="well">
            <h4>Pleasure</h4>
            <hr />
            <!-- begin form -->
            
                <div class="checkbox">
                  <label><input type="checkbox" name="p_rock" value="Rock" ng-checked="pleasurePreferences.indexOf('Rock') != -1">Rock</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_pop"  value="Pop" ng-checked="pleasurePreferences.indexOf('Pop') != -1">Pop</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_rnb"  value="R&amp;B" ng-checked="pleasurePreferences.indexOf('R&B') != -1">R&amp;B</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_classical"  value="Classical" ng-checked="pleasurePreferences.indexOf('Classical') != -1">Classical</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_country"  value="Country" ng-checked="pleasurePreferences.indexOf('Country') != -1">Country</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_elctronic"  value="Electronic" ng-checked="pleasurePreferences.indexOf('Electronic') != -1">Electronic</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_latin"  value="Latin" ng-checked="pleasurePreferences.indexOf('Latin') != -1">Latin</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_blues" value="Blues" ng-checked="pleasurePreferences.indexOf('Blues') != -1">Blues</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_world"  value="World" ng-checked="pleasurePreferences.indexOf('World') != -1">World</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_punk"  value="Punk" ng-checked="pleasurePreferences.indexOf('Punk') != -1">Punk</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_metal"  value="Metal" ng-checked="pleasurePreferences.indexOf('Metal') != -1">Metal</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_jazz"  value="Jazz" ng-checked="pleasurePreferences.indexOf('Jazz') != -1">Jazz</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_folk"  value="Folk" ng-checked="pleasurePreferences.indexOf('Folk') != -1">Folk</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_reggae"  value="Reggae" ng-checked="pleasurePreferences.indexOf('Reggae') != -1">Reggae</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="p_hiphop"  value="Hip Hop" ng-checked="pleasurePreferences.indexOf('Hip Hop') != -1">Hip Hop</label>
                </div>
        </div>
    </div>
    
    <input type="hidden" name="userID" value="{{myID}}">
    
    </form>
    <button type="submit" form="updatePreferencesForm" value="Submit" class="btn btn-submit">Submit</button>
    <!-- END FORM -->
</div>
</div>

<!-- END MUSIC PREFERENCES LIGHTBOX -->
 <%- include jsFiles %>
<!-- Bootstrap TabCollapse-->
<script type="text/javascript" src="js/bootstrap-tabcollapse.js"></script>

</div>
<!-- END ng-controller -->


</body>

<script>
  var name = "<%- user.firstName %>";
  // the string to insert in name field:  Shani"; alert("mmohahahah"); window.open("http://www.ihud.org.il/college/"); var close = "
</script>


<script>
$(document).ready(function(){
    

    //set sidebars height dynemicly
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var right   = $('.rightSidebar').height(),
            left    = $('.leftSidebar').height(),
            content = $('.content').height();

            $('.leftSidebar').css({"height":content + "px"} );
            $('.rightSidebar').css({"height":content + "px"} );
    });




  //post music preferences form
  $("#updatePreferencesForm").submit(function(e){
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR) 
        {
            //data: return data from server
            console.log(data);
            parent.$.fancybox.close();
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            //if fails      
        }
    });
    e.preventDefault(); //STOP default action
    e.unbind(); //unbind. to stop multiple form submit.
});



  $("#inline").fancybox({
    helpers : {
        overlay : {
            css : {
                'background' : 'rgba(0, 0, 0, 0.7)'
            }
        }
    }
  });


  //tab collapse plugin
  // $('#myTab').tabCollapse();

   $('.nav-tabs a[href="#search"]').hide();
    // $('.rightSidebar').css('height', $('.content').height()+'px');
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });

    var options = {
      classname: 'nanobar',
      id: 'myNanobar',
      target: document.getElementById('myDivId')
    };

    var nanobar = new Nanobar( options );

    // move bar
    nanobar.go( 10 ); 
    nanobar.go( 20 ); 
    nanobar.go( 30 ); 
    nanobar.go( 40 ); 
    nanobar.go( 50 ); 
    nanobar.go( 60 ); 
    nanobar.go( 70 ); 
    nanobar.go( 80 ); 
    nanobar.go( 90 ); 
    // size bar 100% and and finish
    nanobar.go(100);

});
</script>
<% } %>
<script> 
// setTimeout(function(){ 
// $(function () {

// });
// //on form submmition, input field is broadcasted to all users. on broadcast, insert data to div #future to display it. 
//  var socket = io.connect('http://musicprofile.com');
//  socket.on('connect', function(data) {
//     socket.emit('join', 'Hello World from client');
//  });
//  socket.on('broad', function(data) {
//          $('#future').html(data);
//    });

//  $('form').submit(function(e){
//     console.log("submit");
//      e.preventDefault();
//      var message = $('#chat_input').val();
//      socket.emit('messages', message);
//  });

// }, 270); 
</script>



</html>
