<!doctype html>
<html ng-app="profile">
<head profile="http://www.w3.org/2005/10/profile">

    <title>Music Profile</title>  

     <%- include head %>
     
     <script src="js/pie.js"></script>
     <script src="js/ageGroup.js"></script>
     <script src="js/localVSworld.js"></script>
     <script src="js/YTlisteners.js"></script>

</head>
<body>
<div class="nanobar" style="background-color:#222"></div>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<div ng-controller="profileCtrl" ng-cloak>
  <div class="msgBlock fa fa-heart {{elementToFadeInAndOut}}"></div>
  <div class="playerControllersBlock fa fa-play {{elementToFadeInAndOut3}}"></div>
  <div class="playerControllersBlock2 fa fa-pause {{elementToFadeInAndOut2}}"></div>

<div ng-init="init('<%= JSON.stringify(user.userId) %>')"></div>
<%- include header %>
<div class="container">
  <div class="navTimer2" ng-style="{'width': timeWidth + '%', backgroundColor: '#' + color, 'height': timeHeight}"><div class="timeRunning">{{timer}}</div></div>
    <!-- LEFT SIDE BAR -->
    <!-- <div class="row"> -->
    

    <a title="Close" class="fancybox-item fancybox-close video-close-hide" href="javascript:;" ng-click="closeFullScreen()"></a>
         <div class="col-sm-2">
            <div class="leftSidebar">
                <div class="player-container">
                    <!-- the video -->
                    <div ng-hide="videoFrame2" class="loader {{loaderStatus}}">
                      <img src="images/loading.gif" width="110">
                    </div>
                    <iframe class="" ng-show="videoFrame" id="player" type="text/html" width="100%" height="200" 
                    src="http://www.youtube.com/embed/S1o41_oHSAg?enablejsapi=1&showinfo=0&controls=0"
                    frameborder="0" allowfullscreen></iframe>
                   
                    <!-- current song  -->
                    <p class="songName"> {{nowPlaying.songName}}</p>
                    <p class="artistName">{{nowPlaying.artistName}} </p>
                    <p class="genreName">{{nowPlaying.currGenre | titleCase}} </p>
                    <!-- player controllers -->
                   
                    <div class="playerControllers">
                        <span id="full" class="player fa fa-expand" ng-click="fullScreen()"></span>
                        <span class="player fa fa-pause" ng-show="toggle" ng-click="pauseSong()"></span>
                        <span class="player fa fa-play" ng-hide="toggle" ng-click="playSong()"></span>
                        <span class="player fa fa-fast-forward player-big" ng-click="nextSong()"></span>
                        <span class="player fa {{heart}} red" ng-click="addToFav()"></span>
                        <!-- <span class="cursor fa fa-frown-o yellow font-size" ng-click="addToBlacklist()"></span>
                        <div class="msgBlock {{elementToFadeInAndOut}}">{{msg}}</div> -->
                    </div>

                     <div class="timeContainer">
                       <div class="videoCurrentTime" style="text-align: center;" ng-show="videoFrame">{{timer}}</div>
                       <div class="videoDuration" style="text-align: center;" ng-show="videoFrame">{{videoDuration}}</div>
                       <div class="navTimerContainer" ng-click="moveToThisPoint($event)"><div class="navTimer" ng-style="{'width': timeWidth + '%', 'height': timeHeight}"></div></div>
                    </div>
                </div>

              <!-- the playlist -->
               <div class="playlist-container mCustomScrollbar" data-mcs-theme="dark">
               
                    <!-- <h3><span class="fa fa-play-circle font-size" ng-click="clickMe()"></span> Playlist</h3> -->
                    <div id="generalLoaderId" class="{{generalLoader}}" ng-hide="thereAreSongsInPlaylist"></div>
                    <p id="currGenre" ng-model="mod.currGenre" ng-click="bringMePlaylist($event)" customDir>{{mod.currGenre}}</p> 
                     <div class="abs loader {{loaderStatus2}}"></div>
                    <div ng-repeat="x in track track by $index" class="playlistItem playlistItem{{$index}}" ng-class="{'first-item': $first}" ng-click="playThisSong(x.url)" ng-show="item + $index">                        
                        <div class="element{{$index}}">
                            <div class="location"><strong>{{x.songName}}</strong></div>
                            <div class="name">{{x.artistName}}</div>
                            <!-- <div class="location"><a href="{{x.url}}" target="_blank" ng-model="myUrl">{{x.url}}</a></div> -->
                            <hr>
                        </div>
                    </div>   
                
              </div>  
                <!-- end playlist -->
               <div class="mobile-buttons">
                <div class="left-mobile-button" ng-click="playFavorites()">Play Favorites</div>
                <div class="right-mobile-button" ng-click="bringMePlaylist()">Play My Pie</div>
              </div>
          </div>
      </div>
      <!-- END LEFT SIDE BAR -->

        <!-- CONTENT -->
        <div class="col-sm-7">
            <div class="content">

                <% if (business) { 
                    business.genres.sort(function(a, b){
                        if(a.category < b.category) return -1;
                        if(a.category > b.category) return 1;
                        return 0;
                    });
                %>
                 <!-- <div class=""> -->
                 
                 <!-- tabs -->
                  <ul role="tablist" id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#profile" id="profile-tab">Profile</a></li>
                    <li><a data-toggle="tab" href="#favorites" id="favorites-tab">Favorites</a></li>
                    <li><a data-toggle="tab" href="#following" id="following-tab">Following</a></li>
                    <li><a data-toggle="tab" href="#followers" id="followers-tab">Followers</a></li>
                    <li ng-if="user.typeOfUser == 'Producer'"><a ng-click="showCounters()" data-toggle="tab" href="#statistics" id="statistics-tab">Statistics</a></li>
                    <li ng-if="user.typeOfUser == 'Producer'" ><a data-toggle="tab" href="#mySongs" id="mySongs-tab">My Songs</a></li>
                    <li><a data-toggle="tab" href="#search" id="search-tab">Search</a></li>
                  </ul>

                  <!-- BEGIN TEB CONTENT -->
                  <div id="myTabContent" class="tab-content">

                      <!-- PROFILE TAB -->
                      <div id="profile" class="tab-pane fade in active">
                          

                          <div class="mode-container">
                              <button ng-click="changePie('business')" type = "button" id="business" class = " btn-default mode-btn btn-lg">BUSINESS</button>
                              <button ng-click="changePie('artist')"  ng-if="user.typeOfUser == 'Producer'" type = "button" id="artist" class = " btn-default mode-btn btn-lg">ARTIST</button>
                              <button ng-click="changePie('pleasure')" type = "button" id="pleasure" class = " btn-default mode-btn btn-lg active">PLEASURE</button>
                          </div>

                          <div class="profile-control-container">
                              <!-- <div class="mode-container">
                                  <button ng-click="changePie('business')" type = "button" id="business" class = " btn-default mode-btn btn-lg">BUSINESS</button>
                                  <button ng-click="changePie('artist')"  ng-if="user.typeOfUser == 'Producer'" type = "button" id="artist" class = " btn-default mode-btn btn-lg">ARTIST</button>
                                  <button ng-click="changePie('pleasure')" type = "button" id="pleasure" class = " btn-default mode-btn btn-lg active">PLEASURE</button>
                              </div> -->
                              
                              <!-- <div class="row"> -->
                                <!-- <div class="col-xs-2"> -->
                                  <!-- <div class="form-group"> -->


                                    <!-- mode select -->
                                    <!-- <label for="select-mode">MODE :</label>
                                    <select class="selectpicker" data-width="fit">
                                      <option>Pleasure</option>
                                      <option>Business</option>
                                    </select> -->
                                    <!-- end mode select -->



                                  <!-- </div> -->
                                <!-- </div> -->
                              <!-- </div> -->
                              

                              <!-- get playlist button -->
                              <!-- <div class="play-container">
                              <button type = "button" id="business" class = " btn-default mode-btn btn-lg active">Get Playlist</button>
                                  <button type = "button" id="pleasure" class = " btn-default mode-btn btn-lg active">Play Favorites</button>
                              </div> -->


                          </div>
                          <hr>
                          <div id="profile-container">
                              <!-- MP pie container -->
                              <div id="MPcontainer" style=" height: 450px; margin: 0 auto"></div>
                              <div id="playDJ" ng-click="bringMePlaylist()"></div>
                          </div>
                      </div>
                  <!-- END PROFILE TAB -->


                    <!-- FAVORITES -->
                    <div id="favorites" class="tab-pane fade">
                      <!-- <h3>Favorites</h3> -->
                        <table datatable="ng" dt-options="dtOptions" class="table table-inverse table-hover fav-table">
                         <thead>
                            <tr>
                                <th>Artist</th>
                                <th class="song">Song</th>
                                <th class="duration">Duration</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                            <tbody>
                                <tr class="songItem songItem{{$index}}" ng-repeat="x in favorits track by $index">
                                    <td class="col-md-3" ng-click="playFavorites(x.url)"> {{x.artistName}}</td>
                                    <td class="col-md-6 song" ng-click="playFavorites(x.url)">{{x.songName}}</td>
                                    <td class="col-md-2 duration" ng-click="playFavorites(x.url)">{{x.duration}}</td>
                                    <td class="col-md-1"><img src="images/icon-trash.png" width="20" style="float:right" ng-click="removeItem(x.url)"></td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END FAVORITES -->



                    <!-- FOLLOWING -->
                    <div id="following" class="tab-pane fade">
                      <h3>Following</h3>
                       <div class="following-container"> 
                            <div class="following searchresults" ng-repeat="x in user.following">
                               <img ng-click="init(x.userId)" width="130" height="130" class="simg" border-radius: 100 ng-src="{{x.profileImg}}" /> 
                               <p>{{x.first}} {{x.last}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- END FOLLOWING -->



                    <!-- FOLLOWERS -->
                    <div id="followers" class="tab-pane fade">
                      <h3>Followers</h3>
                      <div class="followers-container"> 
                            <div class="followers searchresults" ng-repeat="x in user.followers">
                               <img ng-click="init(x.userId)" width="130" height="130" class="simg" border-radius: 100 ng-src="{{x.profileImg}}" /> 
                               <p>{{x.first}} {{x.last}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- END FOLLOWERS -->





                      <!-- IF PRODUCER : -->
                            

                      <!-- STATISTICS -->
                    <div id="statistics" class="tab-pane fade" ng-if="user.typeOfUser == 'Producer'" >
                        <h3>Popularity Rate</h3>
                        <p>Your YouTube channel</p>
                        <div class="col-sm-12">
                          <div id="counter" class="col-md-4 views">{{views}}<div class="viewstitle">Views</div></div>
                          <div id="counter" class="col-md-4 subscribers">{{subscribers}}<div class="subscriberstitle">Subscribers</div></div>
                          <div id="counter" class="col-md-4 comments">{{comments}}<div class="commentstitle">Comments</div></div>
                        </div>



                        <h3>Song Statistics</h3>
                        <p>Choose a songs from the menu to view its data</p>

                       <div class="styled-select"><select name="name" id="select-song" ng-model="selectedSong" ng-options="selectedSong as selectedSong.title for selectedSong in songs" ng-change="drawDiagram(selectedSong.songId)">
                          <option ng-repeat="song in songs">{{song.title}}</option>
                       </select></div>
                       <br><br>
                        <!-- <div>name: {{songs[selectedSong].title}}</div> -->

                          <!-- AGcontainer-->
                          <div class="col-md-6">
                            <div id="AGcontainer" style="width:300px; margin: 0 auto"></div>
                          </div>
                          <div class="col-md-6">
                          <div id="pieContainer" style="  width:300px; margin: 0 auto"></div>
                          </div>
                          
                    </div>
                    <!-- END STATISTICS -->



                      <!-- MY SONGS -->
                     <div id="mySongs" class="tab-pane fade" ng-if="user.typeOfUser == 'Producer'" >
                          <h3>My Songs</h3>
                           <table class="table table-inverse table-hover">
                                <tbody>
                                       <tr ng-repeat="song in songs track by $index" ng-click="playMySongs($index)">
                                          <td class="col-md-12">{{song.title}}</td>
                                      </tr>
                                </tbody>
                          </table>
                    </div>
                    <!-- END MY SONGS -->

                    <!-- END IF PRODUCER -->




                    <!-- SEARCH RESULTS -->
                    <div id="search" class="tab-pane fade">
                          <h3>Search Results</h3>
                          <div class="search-results-container"> 
                            <div class="searchresults" ng-repeat="x in searchResults">
                               <img ng-click="init(x.userID)" width="130" height="130" class="simg focus" border-radius: 100 ng-src="{{x.profileImage}}" /> 
                               <p>{{x.firstName}} {{x.lastName}}</p>
                               <!-- <p>{{x.type}}</p> -->
                            </div>
                          </div>
                    </div>
                    <!--END SEARCH RESULTS -->

                     <!-- STATIC PAGE -->
                    <div id="about" class="tab-pane fade">
                          <h3>About The Music Profile</h3>
                          <div class="about-container"> 
                             <p>The Music Profile is a context-based platform whith music as its content. Users can register as Producers or Consumers. </p>
                             <p>As a<strong> Consumer</strong>, a Music Profile pie will be generated for you according to your activity in Facebook and Youtube. You can influence your pie, for example by adding Facebook Likes to artist you love. When you play your pie, a unique playlist is generated from the pie, considering each genre precentage and related genres to create a smooth traverse between songs. </p>
                             <p>As a <strong>Producer</strong>, you can link videos from the YouTube Channel you registered with to your Music Profile account, so there is no need to upload your tracks to our system as well. The Music Profile provides you with tools to monitor your popularity rate and getting to know your listeners by displaying statistics from Youtube and internal data collected in our system from users all around the world</p>

                             <p>This project was founded at 2016 as part of our software engineering studies at Shenkat College for Engineering and Design.</p>
                             <div class="well">
                             <p style="font-weight:bold">Contact Us</p>
                             <p>Please don't hesitate to contact us if you have any questions or feedbacks.
                             <p>Katzerin st.<br>
                                Rishon Lezion, Israel 7569137<br>
                                Israel<br>
                                s.almog88@gmail.com</p>
                             <p>Visit our <a ng-click="goToHelpPage()" href="#">help page</a> for support and FAQs.</p>
                             </div>
                            <br>
                             <hr>
                          </div>
                          <div class="about-developer">
                                <h5>Developers</h5>
                                <div class="col-sm-3" style="hight:20px, width:20px background-color=black">Shani Almog <br> s.almog88@gmail.com</div>
                                <div class="col-sm-3" style="hight:20px, width:20px background-color=black">Viktoria Yakobashvili <br> viktoria5660@gmail.com</div>
                                <div class="col-sm-3" style="hight:20px, width:20px background-color=black">Stas Volfus <br> stasvolfus@gmail.com </div>
                                <div class="col-sm-3" style="hight:20px, width:20px background-color=black">Rafael Bar <br> rafaelbar37@gmail.com </div>

                                <br><br><br><br>
                          </div>
                    </div>
                    <!--END STATIC PAGE -->

                     <!-- STATIC PAGE -->
                    <div id="activity" class="tab-pane fade">
                          <h3>Activity Switch</h3>
                          <span style="font-size: 20px"><p><strong>The Easiest & Fastest Way To Set Your Playing Mode!</p></strong></span>
                          <div class="activity-container"> 
                             <p>The Activity Switch is a plugin that automatically changes your Business or Pleasure playing mode according to your activity on the computer. This plugin is recommanded especially if you work/study on your computer and love listening to music while you work.</p>
                             <div class="instructions well">
                             <p><strong>How do I get my switch?</strong></p>
                                <ul>
                                  <li>1. Notic that The Activity Switch requiers Windows operating system</li>
                                  <li>2. Download the plugin by clicking the Download button</li>
                                  <li>3. Unzip and run the .exe file to install it</li>
                                  <li>4. Insert your unique token when asked during installation: <span style="color:#00bfff">{{ token }}</span></li>
                                  <li>5. Let it run in the background and enjoy :)</li>
                                </ul>
                                   <a class="btn btn-follow" href="/downloadAS"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                             </div>
                          </div>
                    </div>
                    <!--END STATIC PAGE -->

                    <!-- STATIC PAGE -->
                    <div id="help" class="tab-pane fade">
                          <h3>FAQ</h3>
                          <div class="help-container"> 
                          <div class="FAQ well" onclick="toggle('faq1')">
                            <font size="3"><i>Am I a Consumer or Producer?</i></font>
                            <div id="faq1" class="ANS"> <font size = "3">Consumer is the basic listener user, Consumer can create his own Music Profile, switch modes, follow others or be followed by other users. Producer an extended Consumer, Producer has channel on YouTube with uploaded songs, Producer can get song statistics, popularity rate and follow his fans.</font></div>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>  
                          <div class="FAQ well" onclick="toggle('faq2')">
                            <font size="3"><i>How can I create an account in The Music Profile?</i></font>
                            <div id="faq2" class="ANS"> <font size = "3">Creating an account is easy. if you are a Consumer you can use your Google+ or Facebook to connect, if a Producer you can use your Google+. Signing up is free.</font></div>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                           <div class="FAQ well" onclick="toggle('faq3')">
                            <font size="3"><i>How can I change playlist mode?</i></font>
                            <div id="faq3" class="ANS"> <font size = "3">On profile page you can toggle between Bussiness/Plesure buttons, also you can download our Activity Switch for autometicly switch modes. read more in <a ng-click="" href="#">Activity Switch page</a></font></div>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                          <div class="FAQ well" onclick="toggle('faq4')">
                            <font size="3"><i>How can I change my Bussiness/Plesure preferences?</i></font>
                            <div id="faq4" class="ANS"> <font size = "3">Go to Music Preferences in the menu next to your profile icon and fill the checkboxes.</font></div>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                            <div class="FAQ well" onclick="toggle('faq5')">
                            <font size="3"><i>How does The Music Profile knows what kind of music I like?</i></font>
                            <div id="faq5" class="ANS"> <font size = "3">The Music Profile collects from Facebook your music likes and from your YouTube Deshboard songs you have listen to, taking playing/hearing frequency into consideration.</font></div>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                            <div class="FAQ well" onclick="toggle('faq6')">
                            <font size="3"><i>How can I delete my account in The Music Profile?</i></font>
                            <div id="faq6" class="ANS"> <font size = "3">Please contact us by mail to s.almog88@gmail.com with an explanation, within 7 work days we will respond to your request.</font></div>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                          <div class="FAQ well" onclick="toggle('faq7')">
                            <font size="3"><i>How can I contact The Music Profile's support?</i></font>
                            <div id="faq7" class="ANS"> <font size = "3">Please visit our <a ng-click="goToAboutPage()" href="#">About page to get all the ways to contact us. </a></font></div>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                            
                          </div><!-- end help container -->
                    </div>
                    <!--END STATIC PAGE -->

                    <!-- STATIC PAGE -->
                    <div id="developer" class="tab-pane fade">
                          <%- include developer-api %>
                    </div>
                    <!--END STATIC PAGE -->

                    <!-- STATIC PAGE -->
                    <div id="mobile" class="tab-pane fade">
                          
                           <div class = "col-md-12">
                          <h3>The Music Profile App</h3>
                           <span style="font-size: 20px"><p><strong>Listening To Your Music Anywhere Has Never Been Easier.</strong></p></span>
                             <!-- <img width="600" src="images/mobile_tablet.png"> -->
                            </div>
                            
                             <div class="col-md-12" style="margin-top:30px ">
                                  <div class="phone-holder col-md-6">
                                      <ul class="rslides">
                                        <li><img src="images/phone_1.png" alt=""></li>
                                        <li><img src="images/phone_2.png" alt=""></li>
                                        <li><img src="images/phone_3.png" alt=""></li>
                                      </ul>
                                  </div>
                                  <div class="col-md-6">
                                 <p>The Music Profiles Android App is free, personalized service made for you to listen to the music you love anywhere you go.</p>
                                 <p>The app is simple to use.</p>
                                 <p>Just click play to turn on our  auto Dj and explore more of your favorite songs.</p> 
                                 <a href="#"><img width="180" src="images/app-on-Google-play.png"></a>
                                 </div>
                            </div>
                             
                          
                          
                    </div>
                    <!--END STATIC PAGE -->


                </div>
                <!-- END TAB CONTENT -->
            </div>
          </div>
          <!-- END CONTENT -->



          <!-- RIGHT SIDEBAR -->
           <div class="col-sm-3">
                <div class="well rightSidebar">
                    <div ng-if="myID == user.userId" id="edit-profile">
                      <a class="inline" href="#settings"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </div>
                    <!-- USER DETAILS -->
                    <h4 style="display: inline-block;">
                    <img ng-if="user.typeOfUser == 'Producer'" src="images/producer-white.png" width="20" class="side-icon">
                    <img ng-if="user.typeOfUser == 'Consumer'" src="images/consumer-white.png" width="20" class="side-icon">


                    {{user.firstName | titleCase}} {{user.lastName | titleCase}} </h4>


                            <!--if local login -->
<!--                             <% if (user.profileImage) { %>
                                <img src=" <%= user.profileImage %> " width="60"><br><br>
                            <% } %> -->
                            <div class="details">
                                
                                <!-- <strong>Activity Token</strong>: {{user.activityToken}}<br> -->
                                  <div ng-if="myID == user.userId">
                                <strong><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp Email</strong>
                                <p> {{user.email}}</p>
                                </div>

                                <strong><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp  Country</strong> 
                                <p> {{user.country}}</p>

                                <strong><i class="fa fa-users" aria-hidden="true"></i>&nbsp Age Group</strong>
                                <p ng-if="user.ageGroup == 1">
                                    Under 14
                                </p>
                                <p ng-if="user.ageGroup == 2">
                                    15-25
                                </p>
                                <p ng-if="user.ageGroup == 3">
                                    24-35
                                </p>
                                <p ng-if="user.ageGroup == 4">
                                    35-44
                                </p>
                                <p ng-if="user.ageGroup == 5">
                                    44-55
                                </p>
                                <p ng-if="user.ageGroup == 6">
                                    55+
                                </p>
                            
                    <!-- END USER DETAILS -->

                  <!-- FOLLOW  -->
                  <div ng-if="myID != user.userId">
                      <a ng-click="follow(myID,user.userId)" class="btn btn-follow"><i class="fa {{fafollow}}" aria-hidden="true"></i> {{isFollowing}}</a>
                  </div>
                  
                  <!-- END FOLLOW  -->


                   <!-- GOOGLE INFORMATION -->
                 <div  ng-if="myID == user.userId && (!user.YT_AT) ">
                        <strong><span class="fa fa-google-plus"></span>&nbsp &nbsp Improve your profile</strong>
                            <p  style="margin-top:5px">
                            <a href="/connect/google" class="btn btn-google">Connect Google</a>
                            </p>

                </div>
                 <!-- END GOOGLE INFORMATION -->

                 <!-- FACEBOOK INFORMATION -->
                <div  ng-if="myID == user.userId && (!user.FB_AT)">
                        <strong><span class="fa fa-facebook"></span>&nbsp &nbsp Improve your profile</strong>
                            <p style="margin-top:5px"><a href="/connect/facebook" class="btn btn-facebook">Connect Facebook</a></p>

                </div>
                <!--END FACEBOOK INFORMATION -->

              </div>
              <!-- END DETAILS -->
              <hr>
                <!-- RECOMMANDED --> 
                   
                   <div id="recommended">
                   
                      <h4>Your Match</h4>
                      <p>Check out your recent matches with great Producers</p>
                       <div class="recommand-result">
                             <img   class="simg" width="50" height="50" border-radius: 100 ng-src="{{user.profileImage}}" /> 
                             <div class="recommand-text">
                                <p style="color: rgba(255,255, 255,0.5)">Example Result</p>
                                <p ng-click="init(x.userId)" style="color: white; cursor:pointer;">Check my pie &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i> </p>

                             </div>
                          </div>

                      <div ng-repeat="x in reco">
                          <div class="recommand-result slideUp">
                             <img  ng-click="init(x.userId)" class="simg" width="50" height="50" border-radius: 100 ng-src="{{x.profileImage}}" /> 
                             <div class="recommand-text">
                                <p style="color: rgba(255,255, 255,0.5)">{{x.firstName}}  {{x.lastName}}</p>
                                <p ng-click="init(x.userId)" style="color: white; cursor:pointer;">Check my pie &nbsp<i class="fa fa-angle-right" aria-hidden="true"></i> </p>

                             </div>
                          </div>
                      </div>

                      
                    </div>
                     <hr>
                     <h4 class="tracksYouMayLikeTitle" ng-show="newFlag">Listen Again</h4>
                     <div class="tracksYouMayLike">
                          <div class="tracksYouMayLikeItems item{{$index}}" ng-repeat="x in tracksYouMayLike track by $index" ng-click="playFavorites(x.url)">
                                    <div class="location"><strong>{{x.songName}}</strong></div>
                                    <div class="name">{{x.artistName}}</div>
                                    
                                    <hr>
                          </div>
                     </div>


                    <div style="clear:both"></div>
                    <strong>ID</strong>: {{user.userId}} <br>
                <!-- END RECOMMANDED --> 


                </div>
          </div>
          <!-- END RIGHT SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    



<!-- SETTINGS LIGHTBOX -->
<div style="display:none">
<div id="settings" style="width:60vw">
 <%- include settingsForm %>
</div>
</div>
<!-- END SETTINGS LIGHTBOX -->




<!-- MUSIC PREFERENCES LIGHTBOX -->
<div style="display:none">
<div id="BPwizard" style="width:60vw">
 <%- include updatePreferencesForm %>
</div>
</div>
<!-- END MUSIC PREFERENCES LIGHTBOX -->
 



 <%- include jsFiles %>
<!-- Bootstrap TabCollapse-->
<script type="text/javascript" src="js/bootstrap-tabcollapse.js"></script>

</div>
<!-- END ng-controller -->


</body>

<script>
  var name = "<%- user.firstName %>";
  // the string to insert in name field:  Shani"; alert("mmohahahah"); window.open("http://www.ihud.org.il/college/"); var close = "
</script>
<script src="js/responsiveslides.min.js"></script>


<script>
$(document).ready(function(){




  var playlist_height = $(".playlist-container").height() - $(".player-container").height() - 70;
  //console.log(playlist_height);
   $('.playlist-container').css({"height":playlist_height + "px"} );


  $(".content").mCustomScrollbar();
//mobile slider init
 $(".rslides").responsiveSlides({
      auto: true,             // Boolean: Animate automatically, true or false
      speed: 500,            // Integer: Speed of the transition, in milliseconds
      timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
      pager: false,           // Boolean: Show pager, true or false
      nav: false,             // Boolean: Show navigation, true or false
      random: false,          // Boolean: Randomize the order of the slides, true or false
      pause: false,           // Boolean: Pause on hover, true or false
      pauseControls: true,    // Boolean: Pause when hovering controls, true or false
      prevText: "Previous",   // String: Text for the "previous" button
      nextText: "Next",       // String: Text for the "next" button
      maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
      navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
      manualControls: "",     // Selector: Declare custom pager navigation
      namespace: "rslides",   // String: Change the default namespace used
      before: function(){},   // Function: Before callback
      after: function(){}     // Function: After callback
    });


    //init imagepicker
    $("#img").imagepicker();

    //set sidebars height dynemicly
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var right   = $('.rightSidebar').height(),
            left    = $('.leftSidebar').height(),
            content = $('.content').height();

            //$('.leftSidebar').css({"height":content + "px"} );
            $('.rightSidebar').css({"height":content + "px"} );
    });




  //post music preferences form
  $("#updatePreferencesForm").submit(function(e){
    $("#updatePreferencesFormSubmit").html("Loading...");
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR) 
        {
            //data: return data from server
            // console.log(data);
            parent.$.fancybox.close();
            $("#updatePreferencesFormSubmit").html("Submit");
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            //if fails      
        }
    });
    e.preventDefault(); //STOP default action
    // e.unbind(); //unbind. to stop multiple form submit.
});


  //post settings form
  $("#settingsForm").submit(function(e){
    $("#settingsFormSubmit").html("Loading...");
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR) 
        {
          $("#settingsFormSubmit").html("Submit");
            //data: return data from server
            // console.log(data);
            if(data.state == "success"){
              parent.$.fancybox.close();
              $(".my-alert").remove(); 
            }else if(data.error){
              $("#email").focus();
              $("#email").before("<p class='my-alert' style='color: red'>Sorry, This Email is Taken.</p>");
            }
            
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            //if fails      
        }
    });
    e.preventDefault(); //STOP default action
    // e.unbind(); //unbind. to stop multiple form submit.
});


  $(".inline").fancybox({
    helpers : {
        overlay : {
            css : {
                'background' : 'rgba(0, 0, 0, 0.7)'
            }
        }
    }
  });


  //tab collapse plugin
  // $('#myTab').tabCollapse();

   $('.nav-tabs a[href="#search"]').hide();
    // $('.rightSidebar').css('height', $('.content').height()+'px');
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });






    var options = {
      classname: 'nanobar',
      id: 'myNanobar',
      target: document.getElementById('myDivId')
    };

    var nanobar = new Nanobar( options );

    // move bar
    nanobar.go( 10 ); 
    nanobar.go( 20 ); 
    nanobar.go( 30 ); 
    nanobar.go( 40 ); 
    nanobar.go( 50 ); 
    nanobar.go( 60 ); 
    nanobar.go( 70 ); 
    nanobar.go( 80 ); 
    nanobar.go( 90 ); 
    // size bar 100% and and finish
    nanobar.go(100);

});
</script>
<% } %>
<script> 
// setTimeout(function(){ 
// $(function () {

// });
// //on form submmition, input field is broadcasted to all users. on broadcast, insert data to div #future to display it. 
//  var socket = io.connect('http://musicprofile.com');
//  socket.on('connect', function(data) {
//     socket.emit('join', 'Hello World from client');
//  });
//  socket.on('broad', function(data) {
//          $('#future').html(data);
//    });

//  $('form').submit(function(e){
//     console.log("submit");
//      e.preventDefault();
//      var message = $('#chat_input').val();
//      socket.emit('messages', message);
//  });

// }, 270); 
</script>
<script type="text/javascript">
function toggle(Info) {
  var CState = document.getElementById(Info);
  CState.style.display = (CState.style.display != 'block')
                       ? 'block' : 'none';
}
</script>




</html>
