<!doctype html>
<html ng-app="profile">
<head>
    <title>Music Profile</title>
     <%- include head %>
     <script src="js/pie.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container" ng-controller="profileCtrl">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <form>
            <input type="text"></input>
            <button>Search</button>
        </form>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-8">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <!--if local login -->
                        <% if (user.profileImage) { %>
                            <img src=" <%= user.profileImage %> " width="200"><br>
                        <% } %>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>Fist Name</strong>: <%= user.firstName %><br>
                        <strong>Last Name</strong>: <%= user.lastName %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        
                        <% if (business) { 
                            business.genres.sort(function(a, b){
                                if(a.category < b.category) return -1;
                                if(a.category > b.category) return 1;
                                return 0;
                            });


                        %>
                            <h2>Music Profile:</h2>
                        <!-- <div id="container" style="width: 600px; height: 400px; margin: 0 auto"></div> -->



                            <table>
                            <% for(var i=0; i < business.genres.length; i++) { %>
                               <tr>
                                 <td><%= business.genres[i].category %></td>
                                 <td ng-click="getSong($event)"><%= business.genres[i].genreName %></td>
                                 <td><%= business.genres[i].percent %></td>
                               </tr>
                            <% } %>
                            </table>
                        <% } %>
                    </p>
            </div>
        </div>
        <!-- GOOGLE INFORMATION -->
         <div class="col-sm-4">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.YT_AT) { %>
                    <p>
                        <strong>id</strong>: <%= user.YT_id %><br>
                        <strong>token</strong>: <%= user.YT_AT %><br>
                        <strong>email</strong>: <%= user.YT_email %><br>

                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>

         <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-4">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.FB_AT) { %>
                    <p>
                        <strong>id</strong>: <%= user.FB_id %><br>
                        <strong>token</strong>: <%= user.FB_AT %><br>
                        <strong>email</strong>: <%= user.FB_email %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>

    </div>

</div>
</body>
</html>