<!doctype html>
<html ng-app="profile">
<head>

    <title>Music Profile</title>  

     <%- include head %>
     
     <script src="js/pie.js"></script>

</head>
<body>

<div ng-controller="profileCtrl">
<div ng-init="init('<%= JSON.stringify(user.userId) %>')"></div>
<%- include header %>
<div class="container">
    <!-- LEFT SIDE BAR -->

    <!-- <div class="row"> -->
         <div class="col-sm-2">
            <div class="well leftSidebar">
                <div class="player-container">
                    <!-- the video -->
                    <div ng-hide="videoFrame2" class="loader {{loaderStatus}}"></div>
                    <iframe ng-show="videoFrame" id="player" type="text/html" width="100%" height="200" 
                    src="http://www.youtube.com/embed/S1o41_oHSAg?enablejsapi=1"
                    frameborder="0"/></iframe>

                    <!-- current song  -->
                    <p class="songName"> {{nowPlaying.songName}}</p>
                    <p class="artistName">{{nowPlaying.artistName}} </p>
                    <!-- player controllers -->
                    <div class="playerControllers">
                        <span class="cursor fa fa-fast-forward font-size" ng-click="nextSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-pause font-size" ng-show="toggle" ng-click="pauseSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-play font-size" ng-hide="toggle" ng-click="playSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa {{heart}} red font-size" ng-click="addToFav()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-frown-o yellow font-size" ng-click="addToBlacklist()"></span>
                        <div class="msgBlock {{elementToFadeInAndOut}}">{{msg}}</div>
                    </div>
                </div>

              <!-- the playlist -->
               <div class="playlist-container">
                    <!-- <h3><span class="fa fa-play-circle font-size" ng-click="clickMe()"></span> Playlist</h3> -->

                    <p id="currGenre" ng-model="mod.currGenre" ng-click="bringMePlaylist($event)" customDir>{{mod.currGenre}}</p> <div class="abs loader {{loaderStatus2}}"></div>
                    <div ng-repeat="x in track track by $index" class="playlistItem playlistItem{{$index}}" ng-class="{'first-item': $first}" ng-if="$index < 6">                        
                        <div class="element{{$index}}">
                            <div class="location"><strong>{{x.songName}}</strong></div>
                            <div class="name">{{x.artistName}}</div>
                            <!-- <div class="location"><a href="{{x.url}}" target="_blank" ng-model="myUrl">{{x.url}}</a></div> -->
                            <hr>
                        </div>
                    </div>   
                </div>  
                <!-- end playlist -->

          </div>
      </div>
      <!-- END LEFT SIDE BAR -->

        <!-- CONTENT -->
        <div class="col-sm-7">
            <div class="well content">
                <% if (business) { 
                    business.genres.sort(function(a, b){
                        if(a.category < b.category) return -1;
                        if(a.category > b.category) return 1;
                        return 0;
                    });
                %>
                 <!-- <div class=""> -->
                 
                 <!-- tabs -->
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile">Profile</a></li>
                    <li><a href="#favorites">Favorites</a></li>
                    <li><a href="#following">Following</a></li>
                    <li><a href="#followers">Followers</a></li>
                     <% if (user.typeOfUser == "Producer") {  %>
                    <li><a href="#statistics">Statistics</a></li>
                    <li><a href="#mySongs">My Songs</a></li>
                    <% } %>
                    <li><a href="#search">Search</a></li>
                  </ul>

                  <!-- BEGIN TEB CONTENT -->
                  <div class="tab-content">

                      <!-- PROFILE TAB -->
                      <div id="profile" class="tab-pane fade in active">
                      <br>
                      <select id="list" ng-model="data.select">
                      
                          <option value="P" selected="selected">Pleasure</option>
                          <option value="B">Business</option>
                          <option value="A" ng-show="isProducer">Artist</option>
                        
                      </select>
                          <!-- MP pie container -->
                        <div id="MPcontainer" style=" height: 500px; margin: 0 auto">

                        </div>

                   

                      </div>
                  <!-- END PROFILE TAB -->


                    <!-- FAVORITES -->
                    <div id="favorites" class="tab-pane fade">
                      <h3>Favorites</h3>
                        <table class="table table-inverse table-hover">
                            <tbody>
                                <tr ng-repeat="x in favorits">
                                    <td class="col-md-3"> {{x.artistName}}</td>
                                    <td class="col-md-6 song">{{x.songName}}</td>
                                    <td class="col-md-3 duration">{{x.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END FAVORITES -->



                    <!-- FOLLOWING -->
                    <div id="following" class="tab-pane fade">
                      <h3>Following</h3>
                       <div class="following-container"> 
                            <div class="following searchresults" ng-repeat="x in user.following">
                               <img ng-click="init(x.userId)" class="simg" width="100" height="100" border-radius: 100 ng-src="{{x.profileImg}}" /> 
                               <p>{{x.first}}</p>
                               <p>{{x.last}}</p>

                            </div>
                        </div>
                    </div>
                    <!-- END FOLLOWING -->



                    <!-- FOLLOWERS -->
                    <div id="followers" class="tab-pane fade">
                      <h3>Followers</h3>
                      <div class="followers-container"> 
                            <div class="followers searchresults" ng-repeat="x in user.followers">
                               <img ng-click="init(x.userId)" class="simg" width="100" height="100" border-radius: 100 ng-src="{{x.profileImg}}" /> 
                               <p>{{x.first}}</p>
                               <p>{{x.last}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- END FOLLOWERS -->





                      <!-- IF PRODUCER : -->
                      <% if (user.typeOfUser == "Producer") {  %>
                            

                      <!-- STATISTICS -->
                     <div id="statistics" class="tab-pane fade">
                      <h3>statistics</h3>
                     <select ng-model="selectedSong">
                        <option ng-repeat="song in songs" value="{{song.songId}}">{{song.title}}</option>
                     </select>
                      <div>name: {{songs[selectedSong].title}}</div>
                      <div>songId: {{songs[selectedSong].songId}}</div>
                      <div>counterAgeGroup1: {{songCounters[selectedSong].counterAgeGroup1}}</div>
                      <div>counterAgeGroup2: {{songCounters[selectedSong].counterAgeGroup2}}</div>
                      <div>counterAgeGroup3: {{songCounters[selectedSong].counterAgeGroup3}}</div>
                      <div>counterAgeGroup4: {{songCounters[selectedSong].counterAgeGroup4}}</div>
                      <div>counterAgeGroup5: {{songCounters[selectedSong].counterAgeGroup5}}</div>
                      <div>counterAgeGroup6: {{songCounters[selectedSong].counterAgeGroup6}}</div>
                    </div>
                    <!-- END STATISTICS -->



                      <!-- MY SONGS -->
                     <div id="mySongs" class="tab-pane fade">
                          <h3>My Songs</h3>
                           <table class="table table-inverse table-hover">
                                <tbody>
                                       <tr ng-repeat="song in songs">
                                          <td class="col-md-12">{{song.title}}</td>
                                      </tr>
                                </tbody>
                          </table>
                    </div>
                    <!-- END MY SONGS -->

                    <% } %>
                    <!-- END IF PRODUCER -->

                    <!-- SEARCH RESULTS -->
                    
                    <div id="search" class="tab-pane fade">
                          <h3>Search Results</h3>
                          <div class="search-results-container"> 
                            <div class="searchresults" ng-repeat="x in searchResults">
                               <img ng-click="init(x.userID)" class="simg" width="100" height="100" border-radius: 100 ng-src="{{x.profileImage}}" /> 
                               <p>{{x.firstName}}</p>
                               <p>{{x.lastName}}</p>
                               <p>{{x.type}}</p>
                            </div>
                          </div>
                    </div>
                    <!--END SEARCH RESULTS -->


                </div>
                <!-- END TAB CONTENT -->
            </div>
          </div>
          <!-- END CONTENT -->



          <!-- RIGHT SIDEBAR -->
           <div class="col-sm-3">
                <div class="well rightSidebar">
                    <!-- USER DETAILS -->
                    <h3><span class="fa fa-user"></span> Local</h3>
                        <p>
                            <!--if local login -->
<!--                             <% if (user.profileImage) { %>
                                <img src=" <%= user.profileImage %> " width="60"><br><br>
                            <% } %> -->
                            <strong>ID</strong>: {{user.userId}} <br>
                            <strong>Activity Token</strong>: {{user.activityToken}}<br>
                            <strong>User Type</strong>: {{user.typeOfUser}}<br>
                            <strong>Fist Name</strong>: {{user.firstName}}<br>
                            <strong>Last Name</strong>: {{user.lastName}}<br>
                            <strong>email</strong>: {{user.email}}<br>
                            <strong>Country</strong>: {{user.country}}<br>
                            <strong>Age Group</strong>: 
                            <p ng-if="user.ageGroup == 1">
                                Under 14
                            </p>
                            <p ng-if="user.ageGroup == 2">
                                15-25
                            </p>
                            <div ng-if="user.ageGroup == 3">
                                24-35
                            </div>
                            <div ng-if="user.ageGroup == 4">
                                35-44
                            </div>
                            <div ng-if="user.ageGroup == 5">
                                44-55
                            </div>
                            <div ng-if="user.ageGroup == 6">
                                55+
                            </div>
                        </p>
                    <!-- END USER DETAILS -->

                  <!-- FOLLOW INFO -->
                  <div ng-if="myID != user.userId" class="col-sm-12">
                      <a ng-click="follow(myID,user.userId)" class="btn btn-primary">Follow</a>
                  </div>
                  
                  <!-- END FOLLOW INFO -->


                   <!-- GOOGLE INFORMATION -->
                 <div class="col-sm-6">
                    <div class="well">
                        <h5 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h5>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.YT_AT) { %>
                   <!--          <p>
                                <strong>id</strong>: <%= user.YT_id %><br>
                                <strong>token</strong>: <%= user.YT_AT %><br>
                                <strong>email</strong>: <%= user.YT_email %><br>

                            </p> -->

                            <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                        <% } %>

                    </div>
                </div>
                 <!-- END GOOGLE INFORMATION -->

                 <!-- FACEBOOK INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h5 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h5>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.FB_AT) { %>
           <!--                  <p>
                                <strong>id</strong>: <%= user.FB_id %><br>
                                <strong>token</strong>: <%= user.FB_AT %><br>
                                <strong>email</strong>: <%= user.FB_email %><br>
                            </p> -->

                            <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                        <% } %>

                    </div>
                </div>
                <!--END FACEBOOK INFORMATION -->


                <!-- RECOMMANDED --> 
                   <div id="recommended">
                      <h3>Recommended</h3>
                      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                      <div ng-repeat="x in reco">
                            <!--  <img  class="simg" width="100" height="100" border-radius: 100 ng-src="{{x.profileImage}}" /> 
                             <p>{{x.username}}</p> -->
                             <p>{{x}}</p>
                          </div>

                      
                    </div>
                <!-- END RECOMMANDED --> 


                </div>
          </div>
          <!-- END RIGHT SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
</div>
<!-- END ng-controller -->
 <%- include jsFiles %>

</body>

<script>
$(document).ready(function(){
   $('.nav-tabs a[href="#search"]').hide();
    // $('.rightSidebar').css('height', $('.content').height()+'px');
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>
<% } %>
<script> 
setTimeout(function(){ 
$(function () {

    // var profileImg =  <%-JSON.stringify( user.profileImage )%>
    // var businessData =<%-JSON.stringify( business.genres)%>
    // var pleasureData =<%-JSON.stringify( pleasure.genres)%>
    // <% if (user.typeOfUser == "Producer") {  %>
    // var artistData =<%-JSON.stringify( artist.genres)%>
    // drawPie(artistData,profileImg);
    // <% } else { %>
    // // console.log("call drawPie with img : " + profileImg);
    // drawPie(pleasureData,profileImg);
    // <% } %>
    // $("#list").change(function() {
    //     if ($("#list").val() == "P") {
    //         drawPie(pleasureData,profileImg);
    //         // $.get('/dough/includes/live-chart.php?mode=month'
    //     } else if ($("#list").val() == "B"){
    //         drawPie(businessData,profileImg);
    //         // $.get('/dough/includes/live-chart.php?mode=newmode'
    //     } else if ($("#list").val() == "artist"){
    //     drawPie(artistData,profileImg);
    //     }
    // });

});
//on form submmition, input field is broadcasted to all users. on broadcast, insert data to div #future to display it. 
 var socket = io.connect('http://localhost:3000');
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });
 socket.on('broad', function(data) {
         $('#future').html(data);
   });

 $('form').submit(function(e){
    console.log("submit");
     e.preventDefault();
     var message = $('#chat_input').val();
     socket.emit('messages', message);
 });

}, 270); 
</script>
</html>
