<!doctype html>
<html ng-app="profile">
<head>

    <title>Music Profile</title>  

     <%- include head %>
     
     <script src="js/pie.js"></script>

</head>
<body>

<div ng-controller="profileCtrl">
<div ng-init="init('<%= JSON.stringify(user.userId) %>')"></div>
<%- include header %>
<div class="container">


<button ng-click="init(407)">submit</button>

<li ng-click="init('<%= JSON.stringify(user.userId) %>')"><span class="fa fa-user"></span> Profile</li>
    <!-- LEFT SIDE BAR -->

    <!-- <div class="row"> -->
         <div class="col-sm-2">
            <div class="well leftSidebar">
                <div class="player-container">
                    <!-- the video -->
                    <div ng-hide="videoFrame2" class="loader {{loaderStatus}}"></div>
                    <iframe ng-show="videoFrame" id="player" type="text/html" width="100%" height="200" 
                    src="http://www.youtube.com/embed/S1o41_oHSAg?enablejsapi=1"
                    frameborder="0"/></iframe>

                    <!-- current song  -->
                    <p class="songName"> {{nowPlaying.songName}}</p>
                    <p class="artistName">{{nowPlaying.artistName}} </p>
                    <!-- player controllers -->
                    <div class="playerControllers">
                        <span class="cursor fa fa-fast-forward font-size" ng-click="nextSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-pause font-size" ng-show="toggle" ng-click="pauseSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-play font-size" ng-hide="toggle" ng-click="playSong()"></span>&nbsp;&nbsp;
                        <span class="cursor fa {{heart}} red font-size" ng-click="addToFav()"></span>&nbsp;&nbsp;
                        <span class="cursor fa fa-frown-o yellow font-size" ng-click="addToBlacklist()"></span>
                        <div class="msgBlock {{elementToFadeInAndOut}}">{{msg}}</div>
                    </div>
                </div>

              <!-- the playlist -->
               <div class="playlist-container">
                    <!-- <h3><span class="fa fa-play-circle font-size" ng-click="clickMe()"></span> Playlist</h3> -->

                    <p id="currGenre" ng-model="mod.currGenre" ng-click="bringMePlaylist($event)" customDir>{{mod.currGenre}}</p> <div class="abs loader {{loaderStatus2}}"></div>
                    <div ng-repeat="x in track track by $index" class="playlistItem playlistItem{{$index}}" ng-class="{'first-item': $first}" ng-if="$index < 6">                        
                        <div style="padding-top:10px" class="element{{$index}}">
                            <div class="location"><strong>{{x.songName}}</strong></div>
                            <div class="name">{{x.artistName}}</div>
                            <!-- <div class="location"><a href="{{x.url}}" target="_blank" ng-model="myUrl">{{x.url}}</a></div> -->
                            <hr>
                        </div>
                    </div>   
                </div>  
                <!-- end playlist -->

          </div>
      </div>
      <!-- END LEFT SIDE BAR -->

        <!-- CONTENT -->
        <div class="col-sm-7">
            <div class="well content">
                <% if (business) { 
                    business.genres.sort(function(a, b){
                        if(a.category < b.category) return -1;
                        if(a.category > b.category) return 1;
                        return 0;
                    });
                %>
                 <!-- <div class=""> -->
                 
                 <!-- tabs -->
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile">Profile</a></li>
                    <li><a href="#favorites">Favorites</a></li>
                    <li><a href="#following">Following</a></li>
                    <li><a href="#followers">Followers</a></li>
                    <li><a href="#recommended">Recommended</a></li>
                     <% if (user.typeOfUser == "Producer") {  %>
                    <li><a href="#statistics">Statistics</a></li>
                    <li><a href="#mySongs">My Songs</a></li>
                    <% } %>
                    <li><a href="#search">Search</a></li>
                  </ul>

                  <!-- BEGIN TEB CONTENT -->
                  <div class="tab-content">

                      <!-- PROFILE TAB -->
                      <div id="profile" class="tab-pane fade in active">
                      <br>
                      <select id="list" ng-model="data.select">
                      
                          <option value="P" selected="selected">Pleasure</option>
                          <option value="B">Business</option>
                          <option value="A" ng-show="isProducer">Artist</option>
                        
                      </select>
                          <!-- MP pie container -->
                        <div id="MPcontainer" style=" height: 500px; margin: 0 auto">

                        </div>

                   

                      </div>
                  <!-- END PROFILE TAB -->


                    <!-- FAVORITES -->
                    <div id="favorites" class="tab-pane fade">
                      <h3>Favorites</h3>
                        <table class="table table-inverse table-hover">
                            <tbody>
                                <tr ng-repeat="x in favorits">
                                    <td class="col-md-3"> {{x.artistName}}</td>
                                    <td class="col-md-6 song">{{x.songName}}</td>
                                    <td class="col-md-3 duration">{{x.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END FAVORITES -->



                    <!-- FOLLOWING -->
                    <div id="following" class="tab-pane fade">
                      <h3>Following</h3>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <!-- END FOLLOWING -->



                    <!-- FOLLOWERS -->
                    <div id="followers" class="tab-pane fade">
                      <h3>Followers</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <!-- END FOLLOWERS -->



                     <!-- RECOMMANDED --> 
                   <div id="recommended" class="tab-pane fade">
                      <h3>Recommended</h3>
                      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                      <button type="submit" ng-click="recommandation()" class="btn btn-warning btn-lg">rec</button>
                      <div ng-repeat="x in reco">
                             <img  class="simg" width="100" height="100" border-radius: 100 ng-src="{{x.profileImage}}" /> 
                             <p>{{x.username}}</p>
                          </div>

                      
                    </div>
                     <!-- END RECOMMANDED --> 




                      <!-- IF PRODUCER : -->
                      <% if (user.typeOfUser == "Producer") {  %>
                            

                      <!-- STATISTICS -->
                     <div id="statistics" class="tab-pane fade">
                      <h3>statistics</h3>
                     <select ng-model="selectedSong">
                        <option ng-repeat="x in songDetails" value="{{x.id}}">{{x.name}}</option>
                     </select>
                      <div>name: {{songDetails[selectedSong].name}}</div>
                      <div>albumName: {{songDetails[selectedSong].albumName}}</div>
                      <div>artwork: {{songDetails[selectedSong].artwork}}</div>
                      <div>duration: {{songDetails[selectedSong].duration}}</div>
                      <div>songId: {{songDetails[selectedSong].songId}}</div>
                      <div>year: {{songDetails[selectedSong].year}}</div>
                      <div>id: {{songDetails[selectedSong].id}}</div>
                      <div>counterAgeGroup1: {{songCounters[selectedSong].counterAgeGroup1}}</div>
                    </div>
                    <!-- END STATISTICS -->



                      <!-- MY SONGS -->
                     <div id="mySongs" class="tab-pane fade">
                          <h3>My Songs</h3>
                          <%= songs %>
                           <table class="table table-inverse table-hover">
                                <tbody>
                                 <% for(var i=0; i< songs.length; i++) { %>
                                      <tr>
                                          <td class="col-md-12"><%= songs[i].title %></td>
                                          <!-- <td class="col-md-6"> <%=  songs[i].videoId %></td> -->
                                      </tr>
                                <% } %>
                                </tbody>
                          </table>
                    </div>
                    <!-- END MY SONGS -->

                    <% } %>
                    <!-- END IF PRODUCER -->

                    <!-- SEARCH RESULTS -->
                    <div id="search" class="tab-pane fade">
                          <h3>Search Results</h3>
                      <!--  <table class="table table-inverse table-hover">
                        <tbody>
                            <tr ng-repeat="x in searchResults">
                                <td class="col-md-3"> {{x.firstName}}</td>
                                <td class="col-md-3"> {{x.lastName}}</td>
                                <td class="col-md-3"> {{x.username}}</td>
                                <td class="col-md-3"> {{x.type}}</td>
                                <td class="col-md-3"><img width='100' ng-src="{{x.profileImage}}" /></td>
                            </tr>
                          </tbody>
                        </table> -->
                        <div> 
                          <div class="searchresults" ng-repeat="x in searchResults">
                             <img  class="simg" width="100" height="100" border-radius: 100 ng-src="{{x.profileImage}}" /> 
                             <p>{{x.firstName}}</p>
                             <p>{{x.lastName}}</p>
                             <p>{{x.type}}</p>
                          </div>
                        </div>
                    </div>
                    <!--END SEARCH RESULTS -->


                </div>
                <!-- END TAB CONTENT -->

                    <!-- extra blank space-->
                    <div class="space"></div>
            </div>
          </div>
          <!-- END CONTENT -->



          <!-- RIGHT SIDEBAR -->
           <div class="col-sm-3">
                <div class="well rightSidebar">
                    <!-- USER DETAILS -->
                    <h3><span class="fa fa-user"></span> Local</h3>
                        <p>
                            <!--if local login -->
<!--                             <% if (user.profileImage) { %>
                                <img src=" <%= user.profileImage %> " width="60"><br><br>
                            <% } %> -->
                            <strong>ID</strong>: {{user.userId}} <br>
                            <strong>Activity Token</strong>: {{user.activityToken}}<br>
                            <strong>User Type</strong>: {{user.typeOfUser}}<br>
                            <strong>Fist Name</strong>: {{user.firstName}}<br>
                            <strong>Last Name</strong>: {{user.lastName}}<br>
                            <strong>email</strong>: {{user.email}}<br>
                            <strong>Country</strong>: {{user.country}}<br>
                            <strong>Age Group</strong>: 
                            <p ng-if="user.ageGroup == 1">
                                Under 14
                            </p>
                            <p ng-if="user.ageGroup == 2">
                                15-25
                            </p>
                            <div ng-if="user.ageGroup == 3">
                                24-35
                            </div>
                            <div ng-if="user.ageGroup == 4">
                                35-44
                            </div>
                            <div ng-if="user.ageGroup == 5">
                                44-55
                            </div>
                            <div ng-if="user.ageGroup == 6">
                                55+
                            </div>
                        </p>
                    <!-- END USER DETAILS -->

                                    <!-- GOOGLE INFORMATION -->
                 <div class="col-sm-12">
                    <div class="well">
                        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.YT_AT) { %>
                   <!--          <p>
                                <strong>id</strong>: <%= user.YT_id %><br>
                                <strong>token</strong>: <%= user.YT_AT %><br>
                                <strong>email</strong>: <%= user.YT_email %><br>

                            </p> -->

                            <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                        <% } %>

                    </div>
                </div>
                 <!-- END GOOGLE INFORMATION -->

                 <!-- FACEBOOK INFORMATION -->
                <div class="col-sm-12">
                    <div class="well">
                        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.FB_AT) { %>
           <!--                  <p>
                                <strong>id</strong>: <%= user.FB_id %><br>
                                <strong>token</strong>: <%= user.FB_AT %><br>
                                <strong>email</strong>: <%= user.FB_email %><br>
                            </p> -->

                            <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                        <% } %>

                    </div>
                </div>
                <!--END FACEBOOK INFORMATION -->


                </div>
          </div>
          <!-- END RIGHT SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
</div>
<!-- END ng-controller -->
 <%- include jsFiles %>

</body>

<script>
$(document).ready(function(){
    // $('.rightSidebar').css('height', $('.content').height()+'px');
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>
<% } %>
<script> 
setTimeout(function(){ 
$(function () {

    // var profileImg =  <%-JSON.stringify( user.profileImage )%>
    // var businessData =<%-JSON.stringify( business.genres)%>
    // var pleasureData =<%-JSON.stringify( pleasure.genres)%>
    // <% if (user.typeOfUser == "Producer") {  %>
    // var artistData =<%-JSON.stringify( artist.genres)%>
    // drawPie(artistData,profileImg);
    // <% } else { %>
    // // console.log("call drawPie with img : " + profileImg);
    // drawPie(pleasureData,profileImg);
    // <% } %>
    // $("#list").change(function() {
    //     if ($("#list").val() == "P") {
    //         drawPie(pleasureData,profileImg);
    //         // $.get('/dough/includes/live-chart.php?mode=month'
    //     } else if ($("#list").val() == "B"){
    //         drawPie(businessData,profileImg);
    //         // $.get('/dough/includes/live-chart.php?mode=newmode'
    //     } else if ($("#list").val() == "artist"){
    //     drawPie(artistData,profileImg);
    //     }
    // });

});
//on form submmition, input field is broadcasted to all users. on broadcast, insert data to div #future to display it. 
 var socket = io.connect('http://localhost:3000');
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });
 socket.on('broad', function(data) {
         $('#future').html(data);
   });

 $('form').submit(function(e){
    console.log("submit");
     e.preventDefault();
     var message = $('#chat_input').val();
     socket.emit('messages', message);
 });

}, 270); 
</script>
</html>
